<div class="row blog-info">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div>
      <h3>You're reading the MarsBased blog</h3>
      <p>MarsBased is an offshore development start-up that has two main business lines: We create our own products and we can be hired to develop mobile or web apps that meet your needs.</p>
      <p>We mostly work with Ruby on Rails, AngularJS, HTML5, CSS3, Bootstrap, Elastic search and other similarly awesome technologies to develop our apps. Only using the best tools can we build our killer applications!</p>
      <a class="btn btn-default" href="/feed.xml"><i class="fa fa-rss"></i> Subscribe to our RSS feed</a>
      <a class="btn btn-default" href="https://twitter.com/MarsBased" target="_blank">Or follow us on Twitter!</a>
    </div>
  </div>
</div>