<div class="row blog-info">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div>
      <h3>You're reading the MarsBased blog</h3>
      <p>MarsBased is an application development company highly specialized in Ruby on Rails, based in Barcelona.</p>
      <p>We are a development company with the DNA of a startup. We are publishing all our experiences as a company in this blog, because there might be somebody out there willing to read it! And someday, we will compile all of this in an ebook, available in the best Martian libraries.</p>
      <a class="btn btn-default" href="/feed.xml"><i class="fa fa-rss"></i> Subscribe to our RSS feed</a>
      <a class="btn btn-default" href="https://twitter.com/MarsBased" target="_blank">Or follow us on Twitter!</a>
    </div>
  </div>
</div>