<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
  <!-- Flip version -->
  <div class="flip"> 
    <div class="card"> 
      <div class="face front bcn-startup-map"> 
        <div>
          <h3>Barcelona Startup Map</h3>
          <h4>The entrepreneurial ecosystem of Barcelona</h4>
        </div>
      </div> 
      <div class="face back"> 
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Barcelona has build up a very powerful entrepreneurial ecosystem. The number of start-ups, investors, accelerators and other players is growing rapidly.</p>
        <p>Together with the Barcelona City Council & Barcelona Activa, we've developed Barcelona Startup Map, an app that displays the status of the Barcelona entrepreneurial ecosystem. Join the others and sign up to be featured in the map!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.bcn.cat/bcnstartupmap" title="Barcelona Startup Map">Barcelona Startup Map</a></p>
      </div> 
    </div> 
  </div> 
  <!-- Modal version -->
  <div class="modal-card bcn-startup-map" data-toggle="modal" data-target="#bcn-startup-map"> 
    <div>
      <h3 class="text-center">Startup Grind Barcelona</h3>
      <h4 class="text-center">Website & Technological Partner</h4>
    </div>
  </div> 
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip"> 
    <div class="card"> 
      <div class="face front startupgrind"> 
        <div>
          <h3>Startup Grind Barcelona</h3>
          <h4>Website & Technological Partner</h4>
        </div>
      </div> 
      <div class="face back"> 
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>MarsBased is the technological partner of Startup Grind Barcelona.</p>
        <p>We have developed a killer informational website for Startup Grind Barcelona to help them promote the event and get in touch with the local community.</p>
        <p>Startup Grind is a monthly event that inspires, educates and connects entrepreneurs worldwide. Coming in April to Barcelona!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.startupgrind.cat">Visit Website</a></p>
      </div> 
    </div> 
  </div> 
  <!-- Modal version -->
  <div class="modal-card startupgrind" data-toggle="modal" data-target="#startupgrind"> 
    <div>
      <h3 class="text-center">Startup Grind Barcelona</h3>
      <h4 class="text-center">Website & Technological Partner</h4>
    </div>
  </div> 
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip"> 
    <div class="card"> 
      <div class="face front startup-circle"> 
        <div>
          <h3>Start-up Circle in Barcelona</h3>
          <h4>Supporting the local scene</h4>
        </div>
      </div> 
      <div class="face back"> 
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>We have created a start-up circle with a group of local start-ups. The main purpose of the circle is to help each start-up grow through collaboration and teamwork. The circle allows each start-up to focus on their strengths, rather than to overcome their weaknesses by relying in the rest of the circle members.</p>
        <p>If you want to read more about our start-up circle, follow our social profiles and stay tuned. Else, if you want to be a part of it, drop us a line at <a href="mailto:hola@marsbased.com">hola@marsbased.com</a>.</p>
      </div> 
    </div> 
  </div> 
  <!-- Modal version -->
  <div class="modal-card startup-circle" data-toggle="modal" data-target="#startup-circle"> 
    <div>
      <h3 class="text-center">Start-up Circle in Barcelona</h3>
      <h4 class="text-center">Supporting the local scene</h4>
    </div>
  </div> 
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip" itemscope itemtype ="http://schema.org/Product"> 
    <div class="card"> 
      <div class="face front cookinme"> 
        <div>
          <h3 itemprop="name">Cookin.me</h3>
          <h4>Where all your recipes want to be</h4>
        </div>
      </div> 
      <div class="face back"> 
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Born to be our first product, Cookin.me will become your favourite cookbook.</p>
        <p itemprop="description">Are you a professional chef? Have you recently taken up cooking lessons? Want to show off your sushi skills? Cookin.me is a digital cookbook where you can create, edit and organize all of your cooking recipes. Easy as a pie.</p>
        <p>Give Cookin.me to the cook in you!</p>
        <p class="text-center"><a disabled class="btn btn-default">Coming Soon!</a></p>
      </div> 
    </div> 
  </div> 
  <!-- Modal version -->
  <div class="modal-card cookinme" data-toggle="modal" data-target="#cookinme"> 
    <div>
      <h3 class="text-center" itemprop="name">Cookin.me</h3>
      <h4 class="text-center">Where all your recipes want to be</h4>
    </div>
  </div>
</div>

<div class="modal fade" id="cookinme" tabindex="-1" role="dialog" aria-labelledby="cookinme" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cookin.me</h4>
      </div>
      <div class="modal-body">
        <p>Born to be our first product, Cookin.me will become your favourite cookbook.</p>
        <p itemprop="description">Are you a professional chef? Have you recently taken up cooking lessons? Want to show off your sushi skills? Cookin.me is a digital cookbook where you can create, edit and organize all of your cooking recipes. Easy as a pie.</p>
        <p>Give Cookin.me to the cook in you!</p>
        <p class="text-center"><a disabled class="btn btn-default btn-lg">Coming Soon!</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal fade" id="startup-circle" tabindex="-1" role="dialog" aria-labelledby="startup-circle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Start-up Circle in Barcelona</h4>
      </div>
      <div class="modal-body">
        <p>We have created a start-up circle with a group of local start-ups. The main purpose of the circle is to help each start-up grow through collaboration and teamwork. The circle allows each start-up to focus on their strengths, rather than to overcome their weaknesses by relying in the rest of the circle members.</p>
        <p>If you want to read more about our start-up circle, follow our social profiles and stay tuned. Else, if you want to be a part of it, drop us a line at <a href="mailto:hola@marsbased.com">hola@marsbased.com</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="startupgrind" tabindex="-1" role="dialog" aria-labelledby="startupgrind" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Startup Grind Barcelona</h4>
      </div>
      <div class="modal-body">
        <p>MarsBased is the technological partner of Startup Grind Barcelona.</p>
        <p>We have developed a killer informational website for Startup Grind Barcelona to help them promote the event and get in touch with the local community.</p>
        <p>Startup Grind is a monthly event that inspires, educates and connects entrepreneurs worldwide. Coming in April to Barcelona!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.startupgrind.cat">Visit Website</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bcn-startup-map" tabindex="-1" role="dialog" aria-labelledby="bcn-startup-map" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Barcelona Startup Map</h4>
      </div>
      <div class="modal-body">
        <p>Barcelona has build up a very powerful entrepreneurial ecosystem. The number of start-ups, investors, accelerators and other players is growing rapidly.</p>
        <p>Together with the Barcelona City Council & Barcelona Activa, we've developed Barcelona Startup Map, an app that displays the status of the Barcelona entrepreneurial ecosystem. Join the others and sign up to be featured in the map!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.bcn.cat/bcnstartupmap" title="Barcelona Startup Map">Barcelona Startup Map</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>