<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front futurisme">
        <div>
          <h3>FuTurisme</h3>
          <h4>New portal for the Barcelona City Council</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>The Barcelona City Countil & the Gremi d'Hotels de Barcelona created a new program
        to foster entrepreneurship in the tourism area.</p>
        <p>This website uses the latest trends in responsive design. The client specifically requested to break away from old-school corporate looks.</p>
        <p>This project was developed in conjunction with <a href="http://www.evilmartians.com" target="_blank" title="Evil Martians">Evil Martians</a> in a Martian alliance to bring the best results. Awaiting official presentation to be published.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card futurisme" data-toggle="modal" data-target="#futurisme">
    <div>
      <h3 class="text-center">FuTurisme</h3>
      <h4 class="text-center">New portal for the Barcelona City Council</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front pisosbancos">
        <div>
          <h3>PisosBancos</h3>
          <h4>MVP for new platform</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>PisosBancos.com contacted us to rewrite their platform from scratch. After having multiple providers, their app had too much legacy.</p>
        <p>We built an MVP for them to keep up with their business model while building
        a new architecture to serve both PisosBancos and SubastasDe.</p>
        <p>We just finished the first part of this project, where a pure Rails app was built to be improved in the coming months.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.pisosbancos.com" title="PisosBancos">View app!</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card pisosbancos" data-toggle="modal" data-target="#pisosbancos">
    <div>
      <h3 class="text-center">PisosBancos</h3>
      <h4 class="text-center">MVP for new platform</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front subastasde">
        <div>
          <h3>SubastasDe</h3>
          <h4>MVP for new platform</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>SubastasDe.com contacted us to redo their platform from scratch. After having
        multiple providers, their app had too much legacy.</p>
        <p>We built an MVP for them to keep up with their business model while building
        a new architecture to serve both PisosBancos and SubastasDe.</p>
        <p>We just finished the first part of this project, where a pure Rails app was built to be improved in the coming months.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.subastasde.com" title="SubastasDe">View app!</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card subastasde" data-toggle="modal" data-target="#subastasde">
    <div>
      <h3 class="text-center">SubastasDe</h3>
      <h4 class="text-center">MVP for new platform</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front eureka-experts">
        <div>
          <h3>Eureka Experts</h3>
          <h4>Online assessment by experts</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Eureka-Startups is evolving again to become the definitive Spanish-speaking platform of choice for online assessment through videocall.</p>
        <p>This Rails+AngularJS app integrates with Tokbox to bring a scalable solution for the Spanish-speaking community.</p>
        <p>Currently under development. Request access to the staging server <a href="mailto:hola@marsbased.com">here</a>. Expected launch date: April 2015.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card eureka-experts" data-toggle="modal" data-target="#eureka-experts">
    <div>
      <h3 class="text-center">Eureka Experts</h3>
      <h4 class="text-center">Online assessment by experts</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front bcn-startup-map">
        <div>
          <h3>Barcelona Startup Map</h3>
          <h4>The entrepreneurial ecosystem of Barcelona</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Barcelona has built up a very powerful entrepreneurial ecosystem. The number of startups, investors, accelerators and other players is growing rapidly.</p>
        <p>Together with the Barcelona City Council & Barcelona Activa, we've developed Barcelona Startup Map, an app that displays the status of the Barcelona entrepreneurial ecosystem. Join the others and sign up to be featured in the map!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.bcn.cat/bcnstartupmap" title="Barcelona Startup Map">Join the map!</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card bcn-startup-map" data-toggle="modal" data-target="#bcn-startup-map">
    <div>
      <h3 class="text-center">Barcelona Startup Map</h3>
      <h4 class="text-center">The entrepreneurial ecosystem of Barcelona</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front startupgrind">
        <div>
          <h3>Startup Grind Barcelona</h3>
          <h4>Website & Technological Partner</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>MarsBased is the technological partner of Startup Grind Barcelona.</p>
        <p>We have developed an elegant informational website for Startup Grind Barcelona to help them promote the event and get in touch with the local community.</p>
        <p>Startup Grind is a monthly event that inspires, educates and connects entrepreneurs worldwide, powered by Google for Entrepreneurs.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.startupgrind.cat">Visit Website</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card startupgrind" data-toggle="modal" data-target="#startupgrind">
    <div>
      <h3 class="text-center">Startup Grind Barcelona</h3>
      <h4 class="text-center">Website & Technological Partner</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front paellas-ole">
        <div>
          <h3>Paellas Olé</h3>
          <h4>The best Spanish catering in the Bay Area</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>We built this beautiful website using our favourite tool for static websites: <a href="http://jekyllrb.com" title="Jekyll" target="_blank">Jekyll</a>. Jekyll allows us to build static websites with dynamic content and host them seamlessly using <a href="http://pages.github.com" title="Github Pages" target="_blank">Github Pages</a>. Perfect for lightweight projects.</p>
        <p>This was our first project in San Francisco and it's finished. Awaiting confirmation from the client to publish it. You can take a look at it in our test server.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://paellas.marsbased.com" title="Paellas Olé test server">Visit Website</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card paellas-ole" data-toggle="modal" data-target="#startup-circle">
    <div>
      <h3 class="text-center">Paellas Olé</h3>
      <h4 class="text-center">The best Spanish catering in the Bay Area</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front startup-circle">
        <div>
          <h3>Startup Circle in Barcelona</h3>
          <h4>Supporting the local scene</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>We have created a startup circle of trust with a group of local startups and entrepreneurs. The main purpose of this circle is to help one another grow through collaboration and teamwork. The circle allows each member to focus on what they're best at by delegating tasks among the others.</p>
        <p>If you want to read more about our startup circle, follow our social profiles and stay tuned. If you want to join, drop us a line at <a href="mailto:hola@marsbased.com">hola@marsbased.com</a>.</p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card startup-circle" data-toggle="modal" data-target="#startup-circle">
    <div>
      <h3 class="text-center">Startup Circle in Barcelona</h3>
      <h4 class="text-center">Supporting the local scene</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip" itemscope itemtype ="http://schema.org/Product">
    <div class="card">
      <div class="face front cookinme">
        <div>
          <h3 itemprop="name">Cookin.me</h3>
          <h4>Where all your recipes want to be</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Born to be our first product, Cookin.me will become your favourite cookbook.</p>
        <p itemprop="description">Are you a professional chef? Have you recently taken up cooking lessons? Want to show off your sushi skills? Cookin.me is a digital cookbook where you can create, edit and organize all of your cooking recipes. Easy as a pie.</p>
        <p>The Cookin.me project has been discontinued until further notice.</p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card cookinme" data-toggle="modal" data-target="#cookinme">
    <div>
      <h3 class="text-center" itemprop="name">Cookin.me</h3>
      <h4 class="text-center">Where all your recipes want to be</h4>
    </div>
  </div>
</div>

<div class="modal fade" id="cookinme" tabindex="-1" role="dialog" aria-labelledby="cookinme" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cookin.me</h4>
      </div>
      <div class="modal-body">
        <p>Born to be our first product, Cookin.me will become your favourite cookbook.</p>
        <p itemprop="description">Are you a professional chef? Have you recently taken up cooking lessons? Want to show off your sushi skills? Cookin.me is a digital cookbook where you can create, edit and organize all of your cooking recipes. Easy as a pie.</p>
        <p>The Cookin.me project has been discontinued until further notice.</p>
        <p class="text-center"><a disabled class="btn btn-default btn-lg">Not available!</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="startup-circle" tabindex="-1" role="dialog" aria-labelledby="startup-circle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Startup Circle in Barcelona</h4>
      </div>
      <div class="modal-body">
        <p>We have created a startup circle of trust with a group of local startups and entrepreneurs. The main purpose of this circle is to help one another grow through collaboration and teamwork. The circle allows each member to focus on what they're best at by delegating tasks among the others.</p>
        <p>If you want to read more about our startup circle, follow our social profiles and stay tuned. If you want to join, drop us a line at <a href="mailto:hola@marsbased.com">hola@marsbased.com</a>.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="paellas-ole" tabindex="-1" role="dialog" aria-labelledby="paellas-ole" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Paellas Olé</h4>
      </div>
      <div class="modal-body">
        <p>We built this beautiful website using our favourite tool for static websites: <a href="http://jekyllrb.com" title="Jekyll" target="_blank">Jekyll</a>. Jekyll allows us to build static websites with dynamic content and host them seamlessly using <a href="http://pages.github.com" title="Github Pages" target="_blank">Github Pages</a>. Perfect for lightweight projects.</p>
        <p>This was our first project in San Francisco and it's finished. Awaiting confirmation from the client to publish it. You can take a look at it in our test server.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://paellas.marsbased.com" title="Paellas Olé test server">Visit Website</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="startupgrind" tabindex="-1" role="dialog" aria-labelledby="startupgrind" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Startup Grind Barcelona</h4>
      </div>
      <div class="modal-body">
        <p>MarsBased is the technological partner of Startup Grind Barcelona.</p>
        <p>We have developed an elegant informational website for Startup Grind Barcelona to help them promote the event and get in touch with the local community.</p>
        <p>Startup Grind is a monthly event that inspires, educates and connects entrepreneurs worldwide, powered by Google for Entrepreneurs.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.startupgrind.cat">Visit Website</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bcn-startup-map" tabindex="-1" role="dialog" aria-labelledby="bcn-startup-map" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Barcelona Startup Map</h4>
      </div>
      <div class="modal-body">
        <p>Barcelona has built up a very powerful entrepreneurial ecosystem. The number of startups, investors, accelerators and other players is growing rapidly.</p>
        <p>Together with the Barcelona City Council & Barcelona Activa, we've developed Barcelona Startup Map, an app that displays the status of the Barcelona entrepreneurial ecosystem. Join the others and sign up to be featured in the map!</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.bcn.cat/bcnstartupmap" title="Barcelona Startup Map">Join the map!</a></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="futurisme" tabindex="-1" role="dialog" aria-labelledby="futurisme" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">FuTurisme</h4>
      </div>
      <div class="modal-body">
        <p>The Barcelona City Countil & the Gremi d'Hotels de Barcelona created a new program
        to foster entrepreneurship in the tourism area.</p>
        <p>This website uses the latest trends in responsive design. The client specifically requested to break away from old-school corporate looks.</p>
        <p>This project was developed in conjunction with <a href="http://www.evilmartians.com" target="_blank" title="Evil Martians">Evil Martians</a> in a Martian alliance to bring the best results. Awaiting official presentation to be published.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pisosbancos" tabindex="-1" role="dialog" aria-labelledby="pisosbancos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">PisosBancos</h4>
      </div>
      <div class="modal-body">
        <p>PisosBancos.com contacted us to rewrite their platform from scratch. They had gone
        through multiple providers and their app had too much legacy.</p>
        <p>We built an MVP for them to keep up with their business model while building
        a new architecture to serve both PisosBancos and SubastasDe.</p>
        <p>We just finished the first part of this project, where a pure Rails app was built to be improved in the coming months.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="subastasde" tabindex="-1" role="dialog" aria-labelledby="subastasde" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">SubastasDe</h4>
      </div>
      <div class="modal-body">
        <p>SubastasDe.com contacted us to redo their platform from scratch. They had gone
        through multiple providers and their app had too much legacy.</p>
        <p>We built an MVP for them to keep up with their business model while building
        a new architecture to serve both PisosBancos and SubastasDe.</p>
        <p>We just finished the first part of this project, where a pure Rails app was built to be improved in the coming months.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="eureka-experts" tabindex="-1" role="dialog" aria-labelledby="eureka-experts" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Eureka Experts</h4>
      </div>
      <div class="modal-body">
        <p>Eureka-Startups is evolving again to become the definitive Spanish-speaking platform of choice for online assessment through videocall.</p>
        <p>This Rails+AngularJS app integrates with Tokbox to bring a scalable solution for the Spanish-speaking community.</p>
        <p>Currently under development. Request access to the staging server <a href="mailto:hola@marsbased.com">here</a>. Expected launch date: April 2015.</p>
        <p class="text-center"><button type="button" disabled class="btn btn-default disabled">Coming soon!</button></p>
      </div>
    </div>
  </div>
</div>