<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front wuaki-tv">
        <div>
          <h3>Wuaki.tv</h3>
          <h4>Landing pages creator</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>We are building an internal webapp for Wuaki's marketing department to
        launch promotional campaigns for their new products.</p>
        <p>This app will allow the marketing department to be more autonomous while
        not having to depend on developers to build the landing pages for each promotional
        site they need.</p>
        <p class="text-center"><button type="button" class="btn btn-default">Coming soon!</button></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card wuaki-tv" data-toggle="modal" data-target="#wuaki-tv">
    <div>
      <h3 class="text-center">Wuaki.tv</h3>
      <h4 class="text-center">Landing pages creator</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front list71">
        <div>
          <h3>List71</h3>
          <h4>Revenue-based Crowdfunding platform</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>List71 offers a revenue-based Crowdfunding platform similar to <a href="http://www.lightercapital.com" title="Lighter Capital" target="_blank">LighterCapital</a>.</p>
        <p>List71 allows to create and fund the best projects without diluting any equity or having to wait for years to see the comeback of investments.</p>
        <p>This is a pure Rails app, compliant with the strictest regulations for investment, according to UK laws.</p>
        <p>The app will launch around late April 2015.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.list71.com" title="List71">Visit homepage</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card list71" data-toggle="modal" data-target="#list71">
    <div>
      <h3 class="text-center">List71</h3>
      <h4 class="text-center">Revenue-based Crowdfunding platform</h4>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <!-- Flip version -->
  <div class="flip">
    <div class="card">
      <div class="face front skindler">
        <div>
          <h3>Skindler</h3>
          <h4>A marketplace for game development</h4>
        </div>
      </div>
      <div class="face back">
        <span class="glyphicon glyphicon-resize-horizontal"></span>
        <p>Skindler will become your platform of choice if you're on the search for high-quality game development.</p>
        <p>Professionals in the game development scene will go through a strict assessment process before joining the platform, to be matched to top-tier clients.</p>
        <p>The development of the app is complete and it's currently undergoing its first closed beta phase.</p>
        <p class="text-center"><a class="btn btn-default" target="_blank" href="http://www.skindler.com" title="Skindler">Visit homepage</a></p>
      </div>
    </div>
  </div>
  <!-- Modal version -->
  <div class="modal-card skindler" data-toggle="modal" data-target="#skindler">
    <div>
      <h3 class="text-center">Skindler</h3>
      <h4 class="text-center">A curated marketplace for game development</h4>
    </div>
  </div>
</div>