<li class="{% if page.code == 'home' %}active{% endif %}">
  <a href="/" title="Work">Work</a>
</li>
<li class="{% if page.code == 'about' %}active{% endif %}">
  <a href="/about" title="About Us">About Us</a>
</li>
<li class="{% if page.code == 'blog' %}active{% endif %}">
  <a href="/blog" title="Blog">Blog</a>
</li>
<li>
  <a href="http://support.marsbased.com/" title="Support">Support</a>
</li>
<li class="{% if page.code == 'contact' %}active{% endif %}">
  <a href="/contact" title="Contact">Contact</a>
</li>