---
layout: default
title: Blog
code: blog
---

{% for post in paginator.posts %}
  <div class="row post">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <h1 class="text-center"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
      <h2 class="text-center">Posted on {{ post.date | date: '%B %d, %Y' }}</h2>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      {{ post.excerpt }}
      <p class="text-center keep-reading"><a class="btn btn-default btn-lg" href="{{ post.url }}" title="{{ post.title }}">Continue Reading</a></p>
    </div>
  </div>
{% endfor %}

HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

{% if paginator.total_pages > 1 %}
<div class="page-links">
  <ul class="pagination pagination-lg">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}

        <li class="active"><a href="#">{{ page }}</a></li>

      {% elsif page == 1 %}
        <li><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% include blog-info.html %}


