/* LESS STYLESHEETS */

@import "variables.less";
@import "navbar.less";
@import "footer.less";
@import "content.less";

/* GENERAL STYLES */

body {
  padding: 0px;
  background-color: @mars-white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  text-rendering: optimizelegibility;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.content {
  background: @mars-grey;
  padding: 10px 0px;
}

.post h3{
  font-size: 2.2em;
}

@media all and (min-width: @screen-sm) {

.content {
    padding: 40px 0px;
  }

}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: 200;
}

h1 {
  font-size: 1.6em;
  color: #000;
  line-height: 1.4em;
  font-weight: 200;
}

h2 {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 200;
  margin: 0px 0px 10px 0px;
  color: @mars-red;
}

h2:last-child {
  margin-bottom: 30px;
}

@media all and (min-width: @screen-sm) {

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  h2:last-child {
    margin-bottom: 60px;
  }

}

h3 {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

a, a:hover {
  color: @mars-red;
}
